{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Préstamos</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% block content %}
    <div class="top-bar px-3 py-2 border-bottom">
        <div class="d-flex justify-content-between align-items-center w-100">
            <!-- Sección izquierda: enlaces -->
            <div class="d-flex align-items-center">
                <a href="{% url 'books' %}" class="nav-link"><i class="bi bi-book"></i> Libros</a>
                <a href="{% url 'readers' %}" class="nav-link"><i class="bi bi-people"></i> Lectores</a>
                <a href="{% url 'main' %}" class="nav-link"><i class="bi bi-journal-arrow-down"></i> Préstamos</a>
            </div>
    
            <!-- Sección derecha: usuario y logout -->
            <div class="d-flex align-items-center">
                <div class="user-info">
                    <span class="fw-bold">{{ user.first_name }} {{ user.last_name }}</span>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    <div class="page-header d-flex align-items-center justify-content-between">
        <h2>Préstamos</h2>
        <!--<span id="addlending" class="act-btn text-primary" title="Agregar Préstamo" style="cursor: pointer; font-size: 25px;">
            <i class="bi bi-plus-circle-fill fs-l"></i>
        </span>-->
        <button class="btn btn-sm btn-outline-primary" title="Crear Préstamo" onclick="abrir_modal_creacion('{% url 'create_lending' %}')">
            <i class="bi bi-plus-circle-fill fs-l"></i>
        </button>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover text-center align-middle bg-white">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Lector</th>
                    <th>Libro</th>
                    <th>Fecha</th>
                    <th>Retorno estimado</th>
                    <th>Retorno real</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lending in lendings %}
                <tr data-lendingid="{{ lending.id }}">
                    <td>{{ lending.id }}</td>
                    <td>{{ lending.reader }}</td>
                    <td>{{ lending.book }}</td>
                    <td>{{ lending.date }}</td>
                    <td>{{ lending.estimated_return_date }}</td>
                    <td>
                        {% if lending.real_return_date %}
                          {{ lending.real_return_date }}
                        {% else %}
                          
                        {% endif %}
                    </td>                      
                    <td>
                        {% if lending.state == 0 %}
                            <i class="bi bi-circle" style="color:blue;" title="Pendiente"></i>
                        {% elif lending.state == 1 %}
                            <i class="bi bi-check-circle-fill" style="color:green;" title="Devuelto"></i>
                        {% else %}
                            <i class="bi bi-x-circle-fill" style="color:red;" title="Atrasado"></i>
                        {% endif %}
                    </td>
                    <td>
                        <span class="act-btn delete-lending text-danger" title="Borrar Préstamo" style="cursor: pointer; font-size:25px;">
                            <i class="bi bi-trash3-fill fs-5"></i>
                        </span>
                        <!--<span class="act-btn edit-book text-secondary" title="Editar Libro" style="cursor: pointer; font-size:25px;">
                            <i class="bi bi-pencil-square"></i>
                        </span>-->
                        <button class="btn btn-sm btn-outline-secondary" title="Editar Préstamo" onclick="abrir_modal_edicion('{% url 'edit_lending' lending.id %}')">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="creacion" role="dialog">

    </div>
    <div class="modal fade" id="edicion" role="dialog">

    </div>
    {% endblock %}
    {% block extrajs %}
    <!-- Códigos JS para que muestre el modal de edición y creación de Préstamos-->
    <script type="text/javascript">
        var $ = jQuery.noConflict();

        function abrir_modal_edicion(url) {
            $('#edicion').load(url, function() {
                $('#edicion').modal('show');
            });
        }

        function abrir_modal_creacion(url) {
            $('#creacion').load(url, function() {
                $('#creacion').modal('show');
            });
        }
    </script>
    {% endblock extrajs %}
</body>
</html>