{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectores</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% block content %}
    {% include 'partials/topbar.html' %}
    <div class="page-header d-flex align-items-center justify-content-between">
        <h2>Lectores</h2>
        <span id="addreader" class="act-btn text-primary" title="Agregar Lector" style="cursor: pointer; font-size: 25px;">
            <i class="bi bi-plus-circle-fill fs-l"></i>
        </span>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover text-center align-middle bg-white">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido(s)</th>
                    <th>Dirección</th>
                    <th>Número</th>
                    <th>Sanciones</th>
                    <th>Monto de Sanción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for reader in page_obj %}
                <tr data-readerid="{{ reader.id }}">
                    <td>{{ reader.id }}</td>
                    <td>{{ reader.name }}</td>
                    <td>{{ reader.first_surname }}
                        {% if reader.second_surname %}
                            {{ reader.second_surname }}
                        {% else %}
                          
                        {% endif %}
                    </td>
                    <td>
                        {% if reader.address %}
                            {{ reader.address }}
                        {% else %}
                            Sin especificar
                        {% endif %}
                    </td>
                    <td>
                        {% if reader.phone %}
                            {{ reader.phone }}
                        {% else %}
                            Sin especificar
                        {% endif %}
                    </td>
                    <td>{{ reader.sanctions }}</td>
                    <td>{{ reader.sanction_amount }}</td>
                    <td>
                        <span class="act-btn delete-reader text-danger" title="Borrar Lector" style="cursor: pointer; font-size:25px;">
                            <i class="bi bi-trash3-fill fs-5"></i>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'partials/pagination.html' %}
    </div>
    {% endblock %}
</body>
</html>

<script type="text/javascript">
    document.querySelectorAll(".delete-reader").forEach((btn) => {
        btn.onclick = function() {
            delete_reader(this.closest("tr").dataset.readerid);
        };
    });

    function delete_reader(readerid) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'delete_reader' %}", true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        window.location.reload();
                    } else {
                        console.error("Error:", response.error);
                    }
                } else {
                    console.error("Error en la solicitud:", xhr.status);
                }
            }
        };
        
        xhr.send("readerid=" + readerid);
    }
</script>