{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectores</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% block content %}
    {% include 'partials/topbar.html' %}
    <div class="page-header d-flex align-items-center justify-content-between">
        <h2>Lectores</h2>
        <span id="addreader" class="act-btn text-primary" title="Agregar Lector" style="cursor: pointer; font-size: 25px;">
            <i class="bi bi-plus-circle-fill fs-l"></i>
        </span>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover text-center align-middle bg-white">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido(s)</th>
                    <th>Dirección</th>
                    <th>Número</th>
                    <th>Sanciones</th>
                    <th>Monto de sanción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for reader in page_obj %}
                <tr data-readerid="{{ reader.id }}">
                    <td class="clickable">
                        <a href={% url 'lendings_reader' readerid=reader.id %}>{{ reader.id }}</a>
                    </td>
                    <td>{{ reader.name }}</td>
                    <td>{{ reader.first_surname }}
                        {% if reader.second_surname %}
                            {{ reader.second_surname }}
                        {% else %}
                          
                        {% endif %}
                    </td>
                    <td>
                        {% if reader.address %}
                            {% if reader.address %}
                                <span class="preview">
                                    {{ reader.address|slice:":20" }}{% if reader.address|length > 20 %}<span class="ellipsis">…</span>{% endif %}
                                </span>
                                <span class="hidden" style="display: none;">{{ reader.address|slice:"20:" }}</span>
                                <span class="expand-btn text-primary" style="cursor:pointer;">Ver más</span>
                            {% else %}
                                Sin especificar
                            {% endif %}
                        {% else %}
                            Sin especificar
                        {% endif %}
                    </td>
                    <td>
                        {% if reader.phone %}
                            <div class="rounded-pill bg-secondary text-white p-1">
                                {{ reader.phone }}
                            </div>
                        {% else %}
                            Sin especificar
                        {% endif %}
                    </td>
                    <td>
                        {% if reader.sanctions == 0 %}
                            {{ reader.sanctions }}
                        {% else %}
                            <div class="text-danger">
                                {{ reader.sanctions }}
                            </div>
                        {% endif %}
                        
                    </td>
                    <td>
                        {% if reader.sanctions == 0 %}
                            S/{{ reader.sanction_amount }}
                        {% else %}
                            <div class="text-danger">
                                S/{{ reader.sanction_amount }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <span class="act-btn delete-reader text-danger" title="Borrar Lector" style="cursor: pointer; font-size:25px;">
                            <i class="bi bi-trash3-fill fs-5"></i>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'partials/pagination.html' %}
    </div>
    {% endblock %}
</body>
</html>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".expand-btn").forEach(btn => {
            btn.addEventListener("click", function () {
                const hiddenText = this.previousElementSibling;
                const ellipsis = this.previousElementSibling.previousElementSibling.querySelector(".ellipsis");

                if (hiddenText.style.display === "none" || hiddenText.style.display === "") {
                    hiddenText.style.display = "inline";
                    ellipsis.style.display = "none"; // Oculta los puntos suspensivos
                    this.textContent = "Ver menos";
                } else {
                    hiddenText.style.display = "none";
                    ellipsis.style.display = "inline"; // Muestra los puntos suspensivos nuevamente
                    this.textContent = "Ver más";
                }
            });
        });
    });

    document.querySelectorAll(".delete-reader").forEach((btn) => {
        btn.onclick = function() {
            delete_reader(this.closest("tr").dataset.readerid);
        };
    });

    function delete_reader(readerid) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'delete_reader' %}", true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        window.location.reload();
                    } else {
                        console.error("Error:", response.error);
                    }
                } else {
                    console.error("Error en la solicitud:", xhr.status);
                }
            }
        };
        
        xhr.send("readerid=" + readerid);
    }
</script>