body {
	background-color: #f8f9fa;
	padding-inline: 2rem;
	padding-top: 1rem;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	padding-top: 0px !important;
	padding-left: 0px !important;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.act-btn {
	cursor: pointer;
	transition: transform 0.2s;
	display: inline-block;
}

.act-btn:hover {
	transform: scale(1.4) !important;

}


.table th, .table td {
	vertical-align: middle !important;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.page-header h2 {
	margin: 0;
}

