{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectores</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
    {% block content %} {% include 'partials/sidebar.html' %} {% include 'partials/topbar.html' %}
    <div class="main-content px-3">
        <div class="page-header d-flex align-items-center justify-content-between">
            <h2><i class="bi bi-people"></i> Lectores</h2>
            <form method="get" class="d-flex" role="search">
                <input class="form-control me-2 mx-3" type="search" placeholder="Buscar lectores..." name="q" value="{{ request.GET.q }}">
                <span class="act-btn create-reader text-primary" title="Crear Lector" style="cursor: pointer; font-size:25px;" onclick="abrir_modal_creacion('{% url 'create_reader' %}')">
                    <i class="bi bi-plus-circle-fill fs-5"></i>
                </span>
            </form>
        </div>
        {% if page_obj %}
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover text-center align-middle bg-white">
                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido(s)</th>
                        <th>Dirección</th>
                        <th>Número</th>
                        <th>Sanciones</th>
                        <th>Monto de sanción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reader in page_obj %}
                    <tr data-readerid="{{ reader.id }}">
                        <td class="clickable">
                            <a href={% url 'lendings_reader' readerid=reader.id %}>{{ reader.id }}</a>
                        </td>
                        <td>{{ reader.name }}</td>
                        <td>{{ reader.first_surname }} {% if reader.second_surname %} {{ reader.second_surname }} {% else %} {% endif %}
                        </td>
                        <td>
                            {% if reader.address %} {% if reader.address %}
                            <span class="preview">
                                        {{ reader.address|slice:":20" }}{% if reader.address|length > 20 %}<span class="ellipsis">…</span>{% endif %}
                            </span>
                            <span class="hidden" style="display: none;">{{ reader.address|slice:"20:" }}</span>
                            <span class="expand-btn text-primary" style="cursor:pointer;">Ver más</span> {% else %} Sin especificar {% endif %} {% else %} Sin especificar {% endif %}
                        </td>
                        <td>
                            {% if reader.phone %}
                            <div class="rounded-pill bg-secondary text-white p-1">
                                {{ reader.phone }}
                            </div>
                            {% else %} Sin especificar {% endif %}
                        </td>
                        <td>
                            {% if reader.sanctions == 0 %} {{ reader.sanctions }} {% else %}
                            <div class="text-danger">
                                {{ reader.sanctions }}
                            </div>
                            {% endif %}

                        </td>
                        <td>
                            {% if reader.sanctions == 0 %} S/{{ reader.sanction_amount }} {% else %}
                            <div class="text-danger">
                                S/{{ reader.sanction_amount }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <span class="act-btn delete-reader text-danger" title="Borrar Lector" style="cursor: pointer; font-size:25px;">
                                <i class="bi bi-trash3-fill fs-5"></i>
                            </span>
                            <span class="act-btn edit-reader text-secondary" title="Editar Lector" style="cursor: pointer; font-size:25px;" onclick="abrir_modal_edicion('{% url 'edit_reader' reader.id %}')">
                                <i class="bi bi-pencil-square fs-5"></i>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'partials/pagination.html' %}
        </div>
        {% else %}
        <div class="alert alert-warning mt-4 text-center" role="alert">
            No se encontraron lectores{% if search_term %} que coincidan con tu búsqueda "<strong>{{ search_term }}</strong>"{% endif %}.
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="creacion" role="dialog"></div>
    <div class="modal fade" id="edicion" role="dialog"></div>
    {% endblock %} {% include 'partials/modal_permiso.html' %}
</body>

</html>

<script type="text/javascript">
    // Códigos JS para que muestre el modal de edición y creación de Lectores
    var $ = jQuery.noConflict();

    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $('#edicion').modal('show');
            // Adjuntar manualmente el evento de clic para cerrar el modal
            $('#edicion').find('[data-dismiss="modal"]').off('click').on('click', function() {
                $('#edicion').modal('hide');
            });
        });
    }

    function abrir_modal_creacion(url) {
        $('#creacion').load(url, function() {
            $('#creacion').modal('show');
            // Adjuntar manualmente el evento de clic para cerrar el modal
            $('#creacion').find('[data-dismiss="modal"]').off('click').on('click', function() {
                $('#creacion').modal('hide');
            });
        });
    }


    function mostrarModalPermiso(mensaje) {
        const modalBody = document.getElementById("permisoModalBody");
        modalBody.textContent = mensaje;
        const modal = new bootstrap.Modal(document.getElementById("permisoModal"));
        modal.show();
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".expand-btn").forEach(btn => {
            btn.addEventListener("click", function() {
                const hiddenText = this.previousElementSibling;
                const ellipsis = this.previousElementSibling.previousElementSibling.querySelector(".ellipsis");

                if (hiddenText.style.display === "none" || hiddenText.style.display === "") {
                    hiddenText.style.display = "inline";
                    ellipsis.style.display = "none"; // Oculta los puntos suspensivos
                    this.textContent = "Ver menos";
                } else {
                    hiddenText.style.display = "none";
                    ellipsis.style.display = "inline"; // Muestra los puntos suspensivos nuevamente
                    this.textContent = "Ver más";
                }
            });
        });
    });

    document.querySelectorAll(".delete-reader").forEach((btn) => {
        btn.onclick = function() {
            delete_reader(this.closest("tr").dataset.readerid);
        };
    });

    function delete_reader(readerid) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'delete_reader' %}", true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        window.location.reload();
                    } else {
                        mostrarModalPermiso(response.error || "Ocurrió un error al intentar eliminar el registro.");
                    }
                } else {
                    mostrarModalPermiso("Error de conexión con el servidor.");
                }
            }
        };

        xhr.send("readerid=" + readerid);
    }

    document.addEventListener("DOMContentLoaded", function() {
        const toggleBtn = document.getElementById("menu-toggle");
        const sidebar = document.getElementById("sidebar");
        const body = document.body;

        if (toggleBtn && sidebar) {
            toggleBtn.addEventListener("click", function() {
                const isHidden = sidebar.classList.toggle("d-none");

                if (isHidden) {
                    body.style.paddingLeft = "1rem";
                } else {
                    body.style.paddingLeft = "230px";
                }

                // Cambiar ícono del botón hamburguesa
                const icon = toggleBtn.querySelector("i");
                if (icon) {
                    icon.classList.toggle("bi-list");
                    icon.classList.toggle("bi-x");
                }
            });

            // Al cargar, aplicar padding si el sidebar está visible
            if (!sidebar.classList.contains("d-none")) {
                body.style.paddingLeft = "230px";
            }
        }
    });
</script>